#p1 { color: white; background-color: black; } /* თეთრი */
#p2 { color: black; } /* შავი */
#p3 { color: red; } /* წითელი */
#p4 { color: green; } /* მწვანე */
#p5 { color: blue; } /* ლურჯი */
#p6 { color: yellow; } /* ყვითელი */
#p7 { color: cyan; } /* ცისფერი */
#p8 { color: purple; } /* იასამნისფერი */