#div1 {
    color: rgb(255, 0, 0); /* წითელი ტექსტი */
    background-color: rgb(255, 200, 200); /* ღია წითელი ფონური */
}

#div2 {
    color: rgb(0, 255, 0); /* მწვანე ტექსტი */
    background-color: rgb(200, 255, 200); /* ღია მწვანე ფონური */
}

#div3 {
    color: rgb(0, 0, 255); /* ლურჯი ტექსტი */
    background-color: rgb(200, 200, 255); /* ღია ლურჯი ფონური */
}

#div4 {
    color: rgb(255, 165, 0); /* ნარინჯისფერი ტექსტი */
    background-color: rgb(255, 235, 200); /* ღია ნარინჯისფერი ფონური */
}

#div5 {
    color: rgb(255, 255, 0); /* ყვითელი ტექსტი */
    background-color: rgb(255, 255, 200); /* ღია ყვითელი ფონური */
}
